//_base.scss

body{
	background-color: #FFFFFF;
	&:before{
		display: none;
	}
	.site-inner{
		margin: 0;
		max-width: none;
		width: 100%;
	}

}
.site-content{
	padding: 0;
}

.entry-header{
	h1.entry-title{
		display: none;
	}
}


.entry-content{
	p{
		font-family: $antic;
		font-size: 1.625rem;
		line-height: 2.25rem;
		text-align: justify;
	}
}

