// ========================
//_variables.scss
// ========================

$border-box-color: #CCCCCC;
// #B2B2B2




$white: #FFFFFF;

$grey_light: #848484;
$grey_light_one: #bdb8b8;
$grey: #757575;
$grey_home: #007364;
$grey_dark: #666666;
$grey_darker: #474747;
$grey_legend: #a5a7a5;

$blue_link: #18a1ba;

$black: #000000;


$content_width: 1200px;

$gotham: 'GothamRounded-Book';
$opensans: 'OpenSans';
$oxygen: 'Oxygen-Regular';
$oxygen_bold: 'Oxygen-Bold';
$antic: 'Antic-Regular';
$lucida: "LucidaSansUnicode", Arial, sans-serif;


/* Transition prefixes */
@mixin m-transition($arg1, $arg2:null, $arg3:null) {
       -moz-transition: $arg1, $arg2, $arg3;
	     -o-transition: $arg1, $arg2, $arg3;
	    -ms-transition: $arg1, $arg2, $arg3;
	-webkit-transition: $arg1, $arg2, $arg3;
          transition: $arg1, $arg2, $arg3;
}