// ========================
//_variables.scss
// ========================

$border-box-color: #CCCCCC;
// #B2B2B2

$gotham: 'GothamRounded-Book';

$opensans: 'OpenSans';


$white: #FFFFFF;
$grey_light: #848484;
$grey_light_one: #bdb8b8;
$grey: #757575;
$grey_dark: #666666;
$grey_darker: #474747;

$black: #000000;


$content_width: 1200px;